
/* table*/
.table {
  border-collapse: separate;
  border-spacing: 0;
}
.table td {
  margin: 0;
  border: 4px solid rgb(250, 250, 250);
  white-space: nowrap;
  border-top-width: 0px;
  padding: 17px;
  border-radius: 8px;
  text-align: center;
}

.table th {
  margin: 0;
  border: 4px solid rgb(250, 250, 250);
  white-space: nowrap;
  border-top-width: 0px;
  padding: 17px;
  border-radius: 8px;
  text-align: left;
  background-color: rgb(213, 214, 214);
}
#tdiv1 ,#tdiv2 ,#tdiv3 ,#tdiv4 {
  width: 450px;
  overflow-x: scroll;
  margin-left: 18em;
  overflow-y: visible;
  padding: 0;
}

#tdiv5 {
  width: 520px;
  overflow-x: scroll;
  margin-left: 4em;
  overflow-y: visible;
  padding: 0;
}
#tdiva , #tdivb ,#tdivc ,#tdivd ,#tdive ,#tdivf ,#tdivg ,#tdivh ,#tdivi{
  width: 1150px;
  overflow-x: scroll;
  margin-left: 4em;
  overflow-y: visible;
  padding: 0;
}
.headcol1 ,.headcol2 ,.headcol3 ,.headcol4 , .headcol5 {
  text-align: left;
  position: absolute;
  width: 20em;
  left: 0;
  top: auto;
  border-top-width: 2px;
  margin-top: -1px;
  background-color: rgb(224, 224, 224);
}
.headcol5 {
  text-align: left;
  position: absolute;
  width: 6em;
  left: 0;
  top: auto;
  border-top-width: 2px;
  margin-top: -1px;
  background-color: rgb(224, 224, 224);
}
.headcola , .headcolb ,.headcolc , .headcold ,.headcole ,.headcolf ,.headcolg ,.headcolh ,.headcoli{
  text-align: left;
  position: absolute;
  width: 6em;
  left: 0;
  top: auto;
  border-top-width: 2px;
  margin-top: -1px;
  background-color: rgb(224, 224, 224);
}

.long {
  background: #ebebeb;
  letter-spacing: 1px;
}
.long.a5{
  /* font-weight: bold; */
  background-color: rgb(213, 214, 214);
}